*.log
*.el~
backups/*
auto-save-list
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
session*
\#*
_gsdata_/*
ac-comphist.dat
.org-id-locations
.emacs.desktop.lock
.emacs.desktop
url/
eshell/lastdir
eshell/history
/ronert/ronert@Ronerts-MacBook-Air.84205
/.session
/elpa/
/workgorups
/tramp
/projectile-bookmarks.eld
*.elc
/places
/bookmarks
/.places
/.mc-lists.el
/eshell/
/request/
/var/
src/org-mode/*
/src/org-mode/
/snippets/snippet-mode/.#snippet.yasnippet

/flycheck_custom.el
/flycheck_init-auto-complete.el
/flycheck_init-bookmarks.el
/flycheck_init-defuns.el
/flycheck_init-diminish.el
/flycheck_init-dired.el
/flycheck_init-flycheck.el
/flycheck_init-guidekey.el
/flycheck_init-hadoop.el
/flycheck_init-haskell.el
/flycheck_init-latex.el
/flycheck_init-lisp.el
/flycheck_init-org-templates.el
/flycheck_init-org.el
/flycheck_init-search.el
/flycheck_init-sessions.el
/flycheck_init-yasnippet.el
/flycheck_init.el

/.sqli_history

/flycheck_init-javascript.el

/flycheck_init-ess.el
/flycheck_init-bindings.el
/flycheck_init-packages.el
/%backup%~