*.log
*.el~
backups/*
auto-save-list
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
session*
\#*
_gsdata_/*
ac-comphist.dat
.org-id-locations
.emacs.desktop.lock
.emacs.desktop
url/
eshell/lastdir
eshell/history
/ronert/ronert@Ronerts-MacBook-Air.84205
/.session
/elpa/
/workgorups
/tramp
/projectile-bookmarks.eld
*.elc
/places
/bookmarks
/.places
/.mc-lists.el
/eshell/
/request/
/var/
src/org-mode/*